<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %><br>
<%= link_to "Back to movies!", movies_path %>
<hr>

<%= form_tag("/movies", method: "get") do %>

  <%= label_tag(:search, "Search for movie title or director:") %>
  <%= text_field_tag(:search) %>
  <%= label_tag(:time, "Duration (in minutes)") %>
  <%= select_tag :time, options_for_select(%w(all <90 90-120 >120)) %>
  <%= submit_tag("Search") %>

<% end %>

<hr>
<% @movies.each do |movie| %>
  <%= render "poster_image", movie: movie %>
  <%= render "movie", movie: movie %>
<% end %>

