<%= link_to "Back to movie", movies_path %><br/>



  <h4>First name: <%= @user.firstname %> <h4>
  <h4>Last name: <%= @user.lastname %></h4>
  <h4>email: <%= @user.email %> <h4>
  <h4>Reviews: <%= @user.review.text%> <h4>
