<%= link_to "Back to all users", admin_users_path %><br/>



<h5>(<%= link_to "edit", edit_admin_user_path(@user) %>, <%= link_to "delete", admin_user_path(@user), method: :delete, confirm: "You sure?" %>)</h5>
  <h4>First name: <%= @user.firstname %> <h4>
  <h4>Last name: <%= @user.lastname %></h4>
  <h4>email: <%= @user.email %> <h4>
  <% if @user.admin %>
    <h4>User type: Admin</h4>
  <% else %>
    <h4>User type: User </h4>
  <% end %>
  <h4>Password: <%= @user.password_digest %> <h4>
  <h5>Created at: <%= @user.created_at %> <h5>
  <h5>Last update: <%= @user.updated_at %></h5


